################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StateManager.Data.Access/obj
/StateManager.Data.Common/obj
/StateManager.Services/obj
/StateManager.WebAPI/obj
.vs